.App {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bcd4f3;
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  list-style: none;
  background-image: 
  url(
"https://www.nicepng.com/png/detail/215-2154046_transparent-geometric-background-png.png");
}
input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
  
  background-color: #f8f8f8;;
  border-radius: 8px;
  transition: 0.4s;
}
/* button {
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
} */
button:hover {
  background-color: #c5c5c5;
  background-position: 100% 0%;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: rgb(9, 9, 9);
}
h3{
  color: rgb(9, 9, 9);
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  font-style: italic;
}

 h2 {
  color: rgb(9, 9, 9);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  font-style: italic;
 
}

h1 {
  color: rgb(9, 9, 9);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  font-style: italic;
}


table, th, td {
  position:relative;
  border: 1px solid;
  table-layout: fixed;
  width: 95%;

}


th, td{
 
  table-layout: fixed;
  text-align: center;
  border-bottom: 1px solid rgb(230, 227, 227);
  border-right: 1px solid  rgb(230, 227, 227);
  border-left: 1px solid  rgb(230, 227, 227);
  border-top: 1px solid  rgb(230, 227, 227);
  word-wrap: break-word;
  margin: 0;
}

/* tr:nth-child(even) {background-color: #c6c6c671;}  */

th {
  background-color:  rgb(9, 9, 9);
  color: #FFF;
}




.center {
  margin-left: auto;
  margin-right: auto;
  top: 50px;
}  

.button1{
  width: 80px;
  font-size: 13px;
  border-color: #1900ff;
  padding: 8px;
  margin-bottom: 2px;
  border-radius: 4px;
  color: #1900ff;
  transition-duration: 0.4s;
  background-color: transparent;
  
}

.button1:hover {
  background-color: #6673e8; 
  background-image: linear-gradient(to right, #1900ff 50%, #1900ff 50%, #6c6eee);
  color: white;
}

.button2 {
  margin-left: 50px;
  width: 110px;
  float: left;
  font-size: 18px;
  background-color:  rgba(45, 155, 133, 0.832);
  border: none;
  text-align: center;
  border-radius: 4px;
  color: white;
  padding: 8px 8px;
}

.button2:hover {
  background-color: #98a1f1;
  background-image: linear-gradient(to right, #8A9C90 50%, #8A9C90 50%, #AABFB1 );
  color: white;
}

.button3 {
  position:relative;
  top: 30px;
  right: 190px;
  left: 1;
  width: 80px;
  float: right;
  font-size: 16px;
  background-color: transparent;
  border-color: #1900ff;
  text-align: center;
  border-radius: 4px;
  color: blue;
  padding: 8px 8px;
  transition-property: 0.6s;
  
}
.button3:hover {
  background-color: #bdc1e8;
  background-image: linear-gradient(to right, #1900ff 50%, #1900ff 50%, #d5d6f7);
  color: white;
}

.button4 {
  position:relative;
  top: 30px;
  right: 190px;
  left: 1;
  width: 80px;
  float: right;
  font-size: 16px;
  background-color: transparent;
  border-color: blue;
  text-align: center;
  border-radius: 4px;
  color: blue;
  padding: 8px 8px;
}

.button4:hover {
  background-color: #6673e8;
  background-image: linear-gradient(to right, #1900ff 50%, #1900ff 50%, #6c6eee);
  color: white;
}

.button5 {
  position:relative;
  top: 30px;
  right: 250px;
  left: 1;
  width: 80px;
  float: right;
  font-size: 16px;
  background-color: transparent;
  border-color: red;
  text-align: center;
  border-radius: 4px;
  color: red;
  padding: 8px 8px;
}

.button5:hover {
  background-color: #eecbd0;
  background-image: linear-gradient(to right, red 50%, red 50%, #e7c9cb);
  color: white;
}

.button6 {
  position:relative;
  top: 30px;
  right: 250px;
  left: 1;
  width: 80px;
  
  float: right;
  font-size: 16px;
  background-color: transparent;
  border-color: red;
  text-align: center;
  border-radius: 4px;
  color: red;
  padding: 8px 8px;
}

.button6:hover {
  background-color: #eecbd0;
  background-image: linear-gradient(to right, red 50%, red 50%, #e7c9cb);
  color: white;
}


.button7 {
  margin-right: 50px;
  width: 110px;
  float: right;
  font-size: 18px;
  background-color:  rgba(45, 155, 133, 0.832);
  border: none;
  text-align: center;
  border-radius: 4px;
  color: white;
  padding: 8px 8px;
}

.button7:hover {
  background-color: #98a1f1;
  background-image: linear-gradient(to right, #8A9C90 50%, #8A9C90 50%, #AABFB1 );
  color: white;
}

.button8 {
  background-color: rgb(63, 63, 238);
  border: none;

  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 8px;
  background-image: linear-gradient(to right, #1900ff 50%, #1900ff 50%, #6c6eee);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.button9{
  width: 80px;
  font-size: 13px;
  border-color: red;
  padding: 8px 8px;
  border-radius: 4px;
  color: red;
  transition-duration: 0.4s;
  background-color: transparent;
}

.button9:hover {
  background-color: #ef8091; 
  background-image: linear-gradient(to right, red 50%, red 50%, #da6e74);
  color: white;
}

.button10 {
  background-color: rgba(45, 155, 133, 0.832);
  border: none;

  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 8px;
  
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.button10:hover {
  background-color: #42a8be; 
  background-image: linear-gradient(to right, #d165e0 50%, #d165e0 50%, rgba(45, 155, 133, 0.832));
  color: white;
}

/* styling for the adddetails form */
.form-box{
  max-width: 100%;
  height: 100vh;
  border: #F55A00 5vw;
  margin: 0vw;
  padding: 5vw ;
  position:relative; 
}
.form-box input, textarea, select{
  display: block;
  width: 65%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border:0;
  border-radius: 5px;
  font-size: 20px;
  background-color: #f3f3f3;
}
.form-box label{
  font-weight: bold;
}

.form-box textarea{
  height: 15vh;
}

.form-box select{
  width: 67%;
  height: 6.5vh;
}